
<div class="row">
    <div class="col-sm-2"><h5>Address List</h5>
    </div>
    <div class="col-sm-1">
        <input class="btn btn-primary" 
        (click)="fetchList()"
        type="button" value="Fetch List">
    </div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let adr of addresses"
                (click)= "selectAddress(adr)">
                    <th scope="row">{{adr.id}}</th>
                    <td>{{adr.firstName}}</td>
                    <td>{{adr.name}}</td>
                    <td>{{adr.gender}}</td>
                    <td>{{adr.type}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>